body {
    background-color: black;
}
main{
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100% ;
    grid-template-areas: 
        "sect1 sect2"
        "sect3 sect4";
}

header {
    background-color:black;
    color: white;
    text-align: center
}

#locOne {
    grid-area: sect1;
    background-color: green;

}



#locTwo {
    grid-area: sect2;
    background-color: yellow
}


#locThree {
    grid-area: sect3;
    background-color: blueviolet;
}

#locFour {
    grid-area: sect4;
    background-color: red;
}

#firstLocLists {
    display: flex;
    vertical-align: center;
    flex-wrap: wrap;
    font-size: 13px;
    text-align: left;

}

#secondLocLists {
    display: flex;
    vertical-align: center;
    flex-wrap: wrap;
    font-size: 13px;
    text-align: left;

}
#thirdLocLists {
    display: flex;
    vertical-align: center;
    flex-wrap: wrap;
    font-size: 13px;
    text-align: left;

}
#fourthLocLists {
    display: flex;
    vertical-align: center;
    flex-wrap: wrap;
    font-size: 13px;
    text-align: left;

}

.clearAll { 
    position: absolute;
    top: 0;
}

